Django==3.2.1

django-cors-headers==3.7.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0

django-cleanup==5.2.0

whitenoise==5.2.0
python-decouple==3.4

mixer==7.1.2
pytest==6.2.4
pytest-cov==2.11.1
pytest-django==4.2.0
dj-inmemorystorage==2.1.0
