.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;

  background-color: $primary-color;

  box-shadow: 0 10px 10px 0 rgba($primary-color, 0.3);

  z-index: 5;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;

    max-width: 1240px;
    height: 100%;
  }
  .logo a {
    white-space: nowrap;

    color: $second-color;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Days One', sans-serif;
  }
  .menu {
  }
}

@media screen and (min-width: 1240px) {
  .header {
    .header__wrapper {
      margin: 0 auto;
    }
  }
}
