.content {
  height: 100vh;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  .content_item {
    position: relative;

    height: 100vh;
    padding-left: 32px;
    padding-right: 32px;

    scroll-snap-align: start;

    background-color: $second-color;

    color: $primary-color;
    font-family: Roboto, sans-serif;
  }
  .wrapper {
    max-width: 1240px;
  }
  h2 {
    margin: 0;
    padding: 0;
    padding-top: 96px;

    font-weight: bold;
    font-size: 24px;

    text-transform: uppercase;
  }
  img {
    position: absolute;
    top: calc(10% + 200px);
    left: calc(10% - 300px);
  }
  p, dl {
    position: relative;

    font-size: 20px;
  }
}
@media screen and (min-width: 1240px) {
  .content {
    .content__wrapper {
      margin: 0 auto;
    }
  }
}
