@import 'normalize';
@import 'variables';
@import 'transition';

@import 'home_page';
@import 'header';
@import 'menu';


@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('~assets/fonts/Days_One/DaysOne-Regular.ttf') format('truetype');
}

body {
  min-width: 360px;

  background-color: $second-color;

  font-family: 'Days One', serif;
  font-weight: normal;
  font-size: 16px;
}

.main {
  //margin-top: 64px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
