.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
  gap: 16px;

  height: 100%;

  a {
    height: max-content;
    color: $second-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.menu_button {
  position: relative;

  display: block;
  width: 48px;
  height: 48px;
  padding: 0;

  background-color: inherit;

  box-sizing: border-box;
  border: none;

  cursor: pointer;
}
.menu_button--close::before,
.menu_button--close::after,
.menu_button--open::before,
.menu_button--open::after {
  position: absolute;

  width: 36px;

  box-sizing: border-box;

  content: '';
}
.menu_button--close::before {
  height: 2px;

  background-color: $second-color;

  transform: translate(-18px, -1px);
}
.menu_button--close::after {
  height: 24px;

  border-style: solid;
  border-color: $second-color;
  border-width: 0;
  border-top-width: 2px;
  border-bottom-width: 2px;

  transform: translate(-18px, -12px);
}

.menu_button--open::before,
.menu_button--open::after {
  height: 2px;

  background-color: $second-color;
}
.menu_button--open::before {
  transform: translate(-18px, -1px) rotate(45deg);
}
.menu_button--open::after {
  transform: translate(-18px, -1px) rotate(-45deg);
}
