

.header_inner {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header_menu {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
}

.header_menu ul {
  margin: auto;
}

.header_menu li {
    display: inline-block;
}

.header_menu a {
    color: #2a2a2a;
    padding: 0px 10px;
}

.header_menu a:hover {
    color: #0091ff;
    transition: all .5s;
}
