@import url("node_modules/@egjs/vue-flicking/dist/flicking.css");


/* стили условные - не смотри */
ul, li {
  list-style: none;
  padding: 0;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

.services__list-item {
  display: block;
  margin: 20px 5px;

  width: 50vw;

}

.services__list-item-link {
  display: block;
  box-sizing: border-box;
  margin: auto;

  width: 80%;
  height: 40vh;

  padding: 15vh 20px 20px;

  font-family: 'Days One', sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;

  background-image: url("assets/img/studio_session_022.jpg");
  background-position: right bottom;


  border: 0 solid black;
  box-shadow: 0 10px 10px 0 rgba($primary-color, 0.3);
  border-radius: 40px;
}

@media screen and (max-width: 600px) {
  .services__list-item-link {
    font-size: 4vw;
  }
}
